<?page title="Cear Lobato"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<style>
		.right-aligned {overflow:hidden; margin-bottom:0.5em;}
		.right-aligned table {float:right;} .right-aligned table table
		{float:none;} .z-tab{margin-right: 5px !important;} .maintabber
		.z-tabpanels .z-tabpanel .z-tabpanel-cnt{ background:
		url(images/cear_logo_wbg.png) no-repeat right bottom; }
		.maintabber .z-tabpanels .z-tabpanels .z-tabpanel
		.z-tabpanel-cnt{ background: none; } .spinButton
		img{display:block;margin:0 auto;}
	</style>
	<borderlayout id="mainDesktop" width="100%" height="100%"
		apply="com.py.framework.vistamodelo.IndexSC">
		<custom-attributes composerName="isc" />
		<north border="none">
			<vlayout>
				<menubar sclass="right-aligned">
					<menuitem label="${isc.empresa.descripcion}" />
					<menuitem id="miLogOut1"
						label="${isc.usuarioMostrar}" />
					<menuitem id="miLogOut" label="Salir" />
				</menubar>
			</vlayout>
		</north>
		<west border="normal" collapsible="false" width="200px"
			splittable="true" id="buttonBox">
			<tabbox vflex="true" mold="accordion">
				<tabs>
					<tab forEach="${isc.grupos}"
						label="${each.tabLabel}" visible="${each.authorized}" />
				</tabs>
				<tabpanels>
					<tabpanel forEach="${isc.grupos}"
						visible="${each.authorized}">
						<listbox vflex="true" style="border: 0 none;">
							<listitem forEach="${each.secciones}"
								visible="${each.authorized}">
								<listcell label="${each.tabLabel}"
									image="${each.imageFilename}"
									forward="buttonBox.onShowSeccion(${each})" />
							</listitem>
						</listbox>
					</tabpanel>
				</tabpanels>
			</tabbox>
		</west>
		<center border="none">
			<tabbox vflex="true" hflex="true" id="idMainTabBox"
				sclass="maintabber">
				<tabs>
					<tab image="images/icons/application_home.png"
						label="Inicio" closable="false" />
				</tabs>
				<tabpanels>
					<tabpanel></tabpanel>
				</tabpanels>
			</tabbox>
		</center>
		<south></south>
	</borderlayout>
	<window zindex="999" title="Información de contacto" id="ventana"
		mode="modal" border="normal" width="420px"
		apply="org.zkoss.bind.BindComposer"
		visible="@load(evm.visibleVentana)" validationMessages="@id('vmsgs')"
		viewModel="@id('evm') @init('com.py.framework.vistamodelo.IndexSC')">
		<vbox hflex="true">
			<grid
				form="@id('fx1') @save(evm.celular, before='cmdAgregarContacto')
								 @validator(evm.abstractCambiarValidator,
								  celular=evm.celular,
								  editar = false,
								   password=evm.password1,
								   retypedPassword=evm.password2
								   
								   )">
				<columns>
					<column width="140px"></column>
					<column width="260px"></column>
				</columns>
				<rows>
					<row>
						<label value="Celular:"></label>
						<textbox id="celular" width="96%"
							value="@bind(evm.celular)"
							style="@load(not empty vmsgs.celular?'border:1px solid red;':'')">
						</textbox>
					</row>
					<row>
						<label value="Teléfono:"></label>
						<textbox id="telefono" width="96%"
							value="@bind(evm.telefono)">
						</textbox>
					</row>
					<row>
						<label value="Id Nextel:"></label>
						<textbox id="nextel" width="96%"
							value="@bind(evm.nextel)">
						</textbox>
					</row>
					<row>
						<label value="Password:"></label>
						<textbox id="password1" width="96%"
							value="@bind(evm.password1)" type="password"
							style="@load(not empty vmsgs.edPassword?'border:1px solid red;':'')">
						</textbox>
					</row>
					<row>
						<label value="Password:"></label>
						<textbox id="password2"
							value="@bind(evm.password2)" width="96%" type="password"
							style="@load(not empty vmsgs.edPassword?'border:1px solid red;':'')">
						</textbox>
					</row>
				</rows>
			</grid>
			<hbox pack="center" hflex="true">
				<button label="Guardar" id="bontonGuardarContacto"
					onClick="@command('cmdAgregarContacto')" />
				<button label="No, Cancelar" id="botonCancelarContacto"
					onClick="@command('cmdCancelarAgregarContacto')" />
			</hbox>
		</vbox>
	</window>
</zk>