<?page title="Autentificacion de Usuario" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window
	id="loginWin" 
	title="Autentificacion de Usuario" 
	border="normal" 
	width="567px"
	mode="modal"
	position="center,center"
	apply="org.zkoss.bind.BindComposer" 
	viewModel="@id('lvm') @init('com.py.framework.vistamodelo.LoginVM')" 
>
	<listbox visible="@load(lvm.visibleInstallInitData)">
		<listitem>
			<listcell label="Datos Iniciales" />
			<listcell>
				<button label="Instalar" onClick="@command('installInitData')" />
			</listcell>
		</listitem>
	</listbox>
	<hlayout>
	<image src="/images/cear_logo_wbg_h100.png" stubonly="true" />
	<h:form 
		id="f" 
		name="f" 
		action="j_spring_security_check" 
		method="POST"
		h:onsubmit="
		if ($('input[name=z_username]').val().trim()==''){
			$('input[name=z_username]').focus();
			return false;
		} else if ($('input[name=j_password]').val().trim()==''){
			$('input[name=j_password]').focus();
			return false;
		}
		$('input[name=j_username]').val($('input[name=z_empresa]').val()+':'+$('input[name=z_username]').val());
		"
		xmlns:h="http://www.w3.org/1999/xhtml">
		<h:input type="hidden" name="j_username" id="j_username" />
		<longbox name="z_empresa" value="@load(lvm.empresaSelected.id)" h:style="display:none;" />
		<listbox width="300px" visible="@load(!lvm.visibleInstallInitData)" id="listFields">
			<listitem id="li1">
				<listcell label="Usuario:" onClick="userNameTxb.focus();" />
				<listcell onClick="userNameTxb.focus();" >	
					<textbox 
						focus="true"
						tabindex="1"
						id="userNameTxb" 
						name="z_username"
						hflex="true"
						onFocus="listFields.selectItem(li1)"
					>
					</textbox>
				</listcell>
			</listitem>
			<listitem id="li2">
				<listcell label="Contraseña:" onClick="passwordTxb.focus();" />
				<listcell onClick="passwordTxb.focus();">
					<textbox 
						id="passwordTxb" 
						tabindex="2"
						name="j_password"
						type="password" 
						hflex="true"
						onFocus="listFields.selectItem(li2)"
					>
					</textbox>
				</listcell>
			</listitem>
			<listitem id="li3">
				<listcell style="text-align:center;" span="2" onClick="entrarBtn.focus()">
					<button 
						id="entrarBtn" 
						tabindex="3"
						label="Entrar" 
						onFocus="listFields.selectItem(li3)"
						type="submit" />
				</listcell>
			</listitem>
		</listbox>
	</h:form>
	</hlayout>
</window>
</zk>