<?page title="Administración de Usuarios" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<style>
		.z-hbox .z-label, .z-hbox .z-radio { line-height: 24px;
		display:inline-block; }
	</style>
	<window id="usuariosPage" height="100%" title="" border="none"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('uvm') @init('com.py.framework.vistamodelo.UsuariosVM')"
		validationMessages="@id('vmsgs')">
		<window zindex="999" title="Eliminar" mode="modal"
			border="normal" width="300px"
			visible="@load(not empty uvm.edConfirmaBorrarUsuario)">
			<vbox hflex="true">
				<hlayout height="50px">
					<div align="center">
						<image src="images/icons/exclamation.png" />
						<label
							value="@bind(uvm.edConfirmaBorrarUsuario)" />
					</div>
				</hlayout>
				<hbox pack="center" hflex="true">
					<button label="Sí, Eliminar"
						onClick="@command('cmdUsuarioBorrar')" />
					<button label="No, Cancelar!"
						onClick="@command('cmdUsuarioBorrarCancelar')" />
				</hbox>
			</vbox>
		</window>
		<window zindex="999" title="Eliminar" mode="modal"
			border="normal" width="300px"
			visible="@load(not empty uvm.edConfirmaBorrarUsuarioLogueado)">
			<vbox hflex="true">
				<hlayout height="50px">
					<div align="center">
						<image src="images/icons/exclamation.png" />
						<label
							value="@bind(uvm.edConfirmaBorrarUsuarioLogueado)" />
					</div>
				</hlayout>
				<hbox pack="center" hflex="true">
					<button label="Aceptar!"
						onClick="@command('cmdCerrarNoSePuedeBorrarUsuario')" />
				</hbox>
			</vbox>
		</window>
		<window zindex="999" title="Cerrar" mode="modal" border="normal"
			width="300px"
			visible="@load(not empty uvm.edConfirmaCerrarUsuario)">
			<vbox hflex="true">
				<hlayout height="50px">
					<div align="center">
						<image src="images/icons/exclamation.png" />
						<label
							value="@bind(uvm.edConfirmaCerrarUsuario)" />
					</div>
				</hlayout>
				<hbox pack="center" hflex="true">
					<button label="Sí, Cerrar"
						onClick="@command('cmdUsuarioCerrar')" />
					<button label="No, Cancelar"
						onClick="@command('cmdUsuarioCerrarCancelar')" />
				</hbox>
			</vbox>
		</window>

		<borderlayout height="100%">
			<north border="none">
				<hbox style="padding-bottom:3px;"
					sclass="z-valign-top">
					<label>Empresa:</label>
					<textbox readonly="true"
						visible="@load(!uvm.principal.global)"
						value="@load(uvm.selectedEmpresa.descripcion)" />
					<listbox visible="@load(uvm.principal.global)"
						model="@load(uvm.listEmpresa)" disabled="@load(uvm.edDirty)"
						mold="select" rows="1"
						selectedItem="@bind(uvm.selectedEmpresa)">
						<template name="model" var="item">
							<listitem>
								<listcell
									label="@load(item.descripcion)" />
							</listitem>
						</template>
					</listbox>
					<label>Filtrar:</label>
					<textbox instant="true" focus="true"
						value="@bind(uvm.flSearchTerm)" disabled="@load(uvm.edDirty)"
						onChange="@command('cmdDoSearch')" width="250px" />
					<button label="Filtrar"
						onClick="@command('cmdDoSearch')" disabled="@load(uvm.edDirty)"
						image="images/icons/magnifier.png" />
					<space />
					<label>Roles:</label>
					<listbox disabled="@load(uvm.edDirty)"
						model="@load(uvm.flAllRoles)" mold="select" rows="1"
						onAfterRender="self.setSelectedIndex(0)"
						selectedItem="@save(uvm.flRol, before='cmdDoSearch')"
						onSelect="@command('cmdDoSearch')">
						<template name="model" var="item">
							<listitem>
								<listcell
									label="@load(not empty item?item.descripcion:'--TODOS--')" />
							</listitem>
						</template>
					</listbox>
					<space />
					<label>Estado:</label>
					<radiogroup selectedItem="@bind(uvm.flStatus)">
						<radio value="@load(uvm.flStatusAll)"
							onCheck="@command('cmdDoSearchParametros')"
							selected="@load(uvm.flStatusAll eq uvm.flStatus)" label="Todos"
							style="color:dark; font-weight:bold;"
							disabled="@load(uvm.edDirty)" />
						<radio value="@load(uvm.flStatusActive)"
							onCheck="@command('cmdDoSearchParametros',item=uvm.flStatusActive)"
							selected="@load(uvm.flStatusActive eq uvm.flStatus)"
							label="Activos" style="color:green; font-weight:bold;"
							disabled="@load(uvm.edDirty)" />
						<radio value="@load(uvm.flStatusInactive)"
							onCheck="@command('cmdDoSearchParametros',item=uvm.flStatusInactive)"
							selected="@load(uvm.flStatusInactive eq uvm.flStatus)"
							label="Inactivos" style="color:red; font-weight:bold;"
							disabled="@load(uvm.edDirty)" />
					</radiogroup>
					<space />
					<space />
					<button label="Crear nuevo usuario"
						disabled="@load(uvm.edDirty or empty(uvm.edAllRoles))"
						image="images/icons/user_add.png"
						onClick="@command('cmdUsuarioNuevoMostrar')"
						visible="@load(uvm.hasRole('adminUsuariosAlta'))" />
				</hbox>
			</north>
			<center border="none">
				<borderlayout>
					<center border="none">
						<listbox model="@load(uvm.listUser)"
							selectedItem="@bind(uvm.selectedUser)" vflex="true" mold="paging"
							autopaging="true" pagingPosition="both">
							<listhead>
								<listheader label="Nombre"
									sort="auto(nombres)" />
								<listheader label="Apellido"
									sort="auto(apellidos)" />
								<listheader label="Usuario"
									sort="auto(nombreCuenta)" width="100px" />
								<listheader label="Perfil"
									sort="auto(rol.descripcion)" />
								<listheader label="Estado"
									sort="auto(activo)" width="60px" />
							</listhead>
							<template name="model" var="item">
								<listitem
									disabled="@load((not empty uvm.selectedUser) and (uvm.edDirty))">
									<listcell
										label="@load(item.nombres)" />
									<listcell
										label="@load(item.apellidos)" />
									<listcell
										label="@load(item.nombreCuenta)" />
									<listcell
										label="@load(item.rol.descripcion)"
										style="overflow: hidden; wordwrap: none;" />
									<listcell
										label="@load(item.activo?'Activo':'Inactivo')"
										style="@load(item.activo?'font-weight:bold;color:green;':'font-weight:normal;color:red;')" />
								</listitem>
							</template>
						</listbox>
					</center>
					<east flex="true" width="30%" border="none"
						splittable="true" collapsible="true"
						open="@load( (not empty uvm.selectedUser) or (uvm.edNuevo) )">
						<vlayout
							visible="@load( (not empty uvm.selectedUser) or (uvm.edNuevo) )">
							<toolbar>

								<toolbarbutton
									image="images/icons/disk.png" label="Guardar"
									onClick="@command('cmdUsuarioGuardar')"
									disabled="@load(empty uvm.edFirstName and empty uvm.edLastName and empty uvm.edNewPassword1 and empty uvm.edNewPassword2 and empty uvm.edNombreCuenta) " />
								<toolbarbutton
									image="images/icons/cancel.png" label="Cerrar"
									onClick="@command(not uvm.edDirty?'cmdUsuarioCerrar':'cmdUsuarioCerrarConfirmar')" />
								<toolbarbutton
									image="images/icons/cross.png" label="Eliminar"
									onClick="@command('cmdUsuarioBorrarConfirmar')"
									disabled="@load((empty uvm.selectedUser) or (uvm.edNuevo))" />

							</toolbar>
							<grid id="lbDetalles"
								form="	@id('fx') @load(uvm.selectedUser)@save(uvm.selectedUser, before=('cmdUsuarioGuardar')) @validator(uvm.userFormValidator, oldNombreCuenta=uvm.selectedUser.nombreCuenta,nombreCuenta=uvm.edNombreCuenta, password=uvm.edNewPassword1, retypedPassword=uvm.edNewPassword2,editar=uvm.edNuevo, empresa=uvm.selectedEmpresa)">
								<columns visible="false">
									<column width="140px" />
									<column />
								</columns>
								<rows>
									<row>
										<cell>Nombre</cell>
										<cell>
											<textbox hflex="true"
												id="tbFirstName"
												value="@load(uvm.edFirstName) @save(uvm.edFirstName)"
												instant="true">
												<attribute name="onOK">
												<![CDATA[
	tbLastName.focus();
]]>
											</attribute>
											</textbox>
										</cell>
									</row>
									<row>
										<cell>Apellido</cell>
										<cell>
											<textbox hflex="true"
												id="tbLastName"
												value="@load(uvm.edLastName) @save(uvm.edLastName)"
												instant="true">
												<attribute name="onOK">
												<![CDATA[
	tbNombreCuenta.focus();
]]>
											</attribute>
											</textbox>
										</cell>
									</row>
									<row>
										<cell>Usuario</cell>
										<cell>
											<textbox hflex="true"
												id="tbNombreCuenta"
												value="@load(uvm.selectedUser.nombreCuenta) @save(uvm.edNombreCuenta) @validator(uvm.nombreCuentaAvailabilityValidator, oldNombreCuenta=uvm.selectedUser.nombreCuenta,editar=uvm.edNuevo)"
												readonly="@load(not uvm.edNuevo)"
												style="@load(not empty vmsgs.edNombreCuenta?'border:1px solid red;':'')"
												instant="true">
												<attribute name="onOK">
												<![CDATA[
	tbNuevaClave.focus();
]]>
											</attribute>
											</textbox>
											<image
												src="@load(not empty vmsgs.edNombreCuenta?'images/icons/exclamation.png':'')" />
										</cell>
									</row>
									<row>
										<cell>Contraseña</cell>
										<cell>
											<textbox hflex="true"
												id="tbNuevaClave"
												value="@load(uvm.selectedUser.contrasena) @bind(uvm.edNewPassword1) @save(uvm.edNewPassword1)"
												type="password"
												style="@load(not empty vmsgs.edPassword?'border:1px solid red;':'')"
												instant="true">
												<attribute name="onOK">
												<![CDATA[
	tbConfirClave.focus();
]]>
											</attribute>
											</textbox>
										</cell>
									</row>
									<row>
										<cell>
											Confirmar Contraseña
										</cell>
										<cell>
											<textbox hflex="true"
												id="tbConfirClave"
												value="@load(uvm.selectedUser.contrasena) @bind(uvm.edNewPassword2) @save(uvm.edNewPassword2) @validator(uvm.passwordMatchValidator, password=uvm.edNewPassword1,editar=uvm.edNuevo)"
												type="password"
												style="@load(not empty vmsgs.edPassword?'border:1px solid red;':'')"
												instant="true">
												<attribute name="onOK">
												<![CDATA[
	lbListRol.focus();
]]>
											</attribute>
											</textbox>
										</cell>
									</row>
									<row>
										<cell>Rol</cell>
										<cell>
											<listbox hflex="true"
												id="lbListRol" model="@load(uvm.edAllRoles)" mold="select"
												rows="1" selectedItem="@bind(uvm.edRol)"
												disabled="@load(not uvm.hasRole('adminUsuariosPermisos'))">
												<template name="model"
													var="item">
													<listitem>
														<listcell
															label="@load(item.descripcion)" />
													</listitem>
												</template>
											</listbox>
										</cell>
									</row>
									<row>
										<cell>Activo</cell>
										<cell>
											<checkbox id="kbActivo"
												checked="@load(uvm.edActive) @save(uvm.edActive)"
												disabled="@load(not uvm.hasRole('adminUsuariosModificar'))">
												<attribute name="onOK">
												<![CDATA[
	tbFirstName.focus();
]]>
											</attribute>
											</checkbox>
										</cell>
									</row>
								</rows>
							</grid>
							<listbox id="lbSucursales" vflex="true"
								hflex="true" model="@load(uvm.edAllSucursales)" checkmark="true"
								multiple="true"
								disabled="@load(not uvm.hasRole('adminUsuariosPermisos'))"
								onSelect="@command('cmdSucursalSelection')"
								visible="@load(uvm.selectedEmpresa.tieneSucursales)">
								<listhead>
									<listheader width="30px" />
									<listheader
										sortDirection="ascending" sort="auto(description)"
										label="Locales asignados" />
								</listhead>
								<template name="model" var="item">
									<listitem>
										<listcell />
										<listcell
											label="@load(item.descripcion)" />
									</listitem>
								</template>
							</listbox>
						</vlayout>
					</east>
				</borderlayout>
			</center>
		</borderlayout>
		<window zindex="999" title="Error interno del sistema"
			mode="modal" border="normal" width="300px"
			visible="@load(uvm.exceptionsManager.edMostraExcepcion)">
			<vbox hflex="true">
				<hlayout height="50px">
					<div align="center">
						<image src="images/icons/exclamation.png" />
						<label
							value="@load(uvm.exceptionsManager.edTextoMensaje)" />
					</div>
				</hlayout>
				<hbox pack="center" hflex="true">
					<button label="Aceptar"
						onClick="@command('cmdCerrarVentanaException')" />
				</hbox>
			</vbox>
		</window>
	</window>
</zk>